.control-panel {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 32px;
  padding: 10px;
  border-top: 1px solid #66cc66;
  background-color: #F5F7FA;
}

.control-panel.full {
  bottom: -10px;
}

